.div-span {
    font-size: 20px;
}


#addtaskCon {
    width: 518px;
    /* background-color: aqua; */
    height: 100vh;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

#taskHeadline {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#contentCon {
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    width: 90%;
    margin: 0 5%;
    gap: 8px;
}

#contentbig {
    display: flex;
    flex-direction: column;
    /* background-color: beige; */
    width: 100%;
    gap: 8px;
}

#taskName {
    /* background-color: blue; */
    display: block;
}

#taskName input{
    height: 50px;
    width: 100%;
    font-size: 30px; 
}

#Description {
    /* background-color: rgb(119, 0, 255); */
    width: 100%;
}

#Description span {
    height: 50px;
    width: 100%;
}

#Description textarea {
    height: 80px;
    width: 100%;
    outline: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

#Due-date {
    /* background-color: rgb(255, 0, 0); */
    width: 100%;
}

#Due-date input {
    height: 50px;
    width: 100%;
    padding: 0 10px;
}

#priority {
    /* background-color: rgb(255, 230, 0); */
    height: 50px;
    width: 100%;
}

#priority-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#assigned {
    /* background-color: rgb(89, 255, 0); */
    width: 100%;
}

#assigned-select {
    width: 100%;
}

#category {
    /* background-color: rgb(255, 0, 128); */
    width: 100%;
}

#category-select {
    width: 100%;
}

#subtask {
    /* background-color: rgb(30, 0, 255); */
    width: 100%;
}

#subtask-input  {
    display: flex;
    align-items: center;
    width: 100%;
}

#subtask-input input {
    width: 93.3%!important;
    border: none
}

#subtask-input img {
    height: 20px;
    width: 20px;
    background-color: white;
}

#die-subtask {
    background-color: white;
}