.div-span {
    display: flex;
    font-size: 20px;
    margin-bottom: 8px;
}

.blue-border, .input-con:hover {
    border-bottom-color:  #005DFF !important;
}

/* all width 100% */
#contentbig, #assigned, #assigned-select, #Due-date,
#taskName input, #Description, .textarea, #Due-date input,
#category, #category-select, #subtask, .input-con,
.input-con input, li input {
    width: 100%;
}

#AddTaskMainCon {
    align-items: flex-start;
}

#addtaskCon {
    width: 518px;
    height: calc(100% -10vh);
    overflow: auto;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
/* headline of Add Task */
#taskHeadline {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#content-con, #contentbig {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#content-con {
    width: 90%;
    margin: 0 5%;
}

#contentbig {
    gap: 8px;
}

#taskName input{
    height: 50px;
    font-size: 30px;
    padding: 13px 16px;
}

.textarea {
    height: 80px;
    outline: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 10px 10px 10px;
    padding-top: 18px;
    padding-left: 16px;
    font-size: 19px;
    line-height: 120%;
}

#Due-date input {
    height: 50px;
    padding: 0 10px;
}

#priority-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-con  {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey);
} 
 
.input-con input {
    display: flex;
    align-items: center;
    padding: 12px 21px;
    gap: 1%;
    align-self: stretch;
    border: none;
    outline: none;
}

.input-con img {
    height: 10px;
    width: 10px;
    margin-right: 15px;
    background-color: white;
}

#die-subtask {
    background-color: white;
}

::-webkit-calendar-picker-indicator {
    background-image: url('../assets/img/kalendar.png');
  }
.input-blue {
    color: #4589FF;
    font-size: 16px;
}

.urgency-btn {
    width: 136px;
    height: 51px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    background-color: white;
    border: none;
    border-bottom: 2px solid transparent;
}

.btn-red {
    --_activ: var(--activ, #FF3D00);
}

.btn-orange {
    --_activ: var(--activ, #FFA800);
}

.btn-green {
    --_activ: var(--activ, #7AE229);
}

.btn-red:hover, .btn-orange:hover, .btn-green:hover{
    border-bottom: 2px solid;
    border-bottom-color:var(--_activ);
}

.active img {
    filter: brightness(0) invert(1);
}

.active {
    background-color: var(--_activ);
    color: white;
}

.tasks-contacts, .tasks-category {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 8px;
    position: relative;
}

.tasks-contacts:hover, .list-element:hover, .list-element:hover input,
.list-element img:hover, #subtask-img:hover, #img-check:hover {
    background-color: #D2E3FF;
}

#contact-list-Parent {
    height: 200px;
    overflow: auto;
}

li input {
    display: flex;
    outline: none;
    border: none;
    align-items: center;
}

.list-element {
    display: flex;
    padding: 12px 16px;
}

.list-element img {
    /* display: none; */
    margin-right: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.list-element:hover img {
    display: block;
}

.list-element img:hover {
    filter: brightness(90%)
}

/* checkbox */

.checkbox {
    right: 20px;
    left: unset;
    content: url('../assets/img/blue-checkbox.svg');
    appearance: none;
    opacity: unset;
}

.checkbox:hover {
    content: url('../assets/img/blue-checkbox-hover.svg');
}

.checkbox:checked {
    content: url('../assets/img/blue-checkbox-checked.svg');
}

.checkbox:checked:hover {
    content: url('../assets/img/blue-checkbox-checked-hover.svg');
}

#associate-con, #department-con {
    display: flex;
}

#subtask-img, #img-check {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#img-check {
    margin-right: 21px;
}
