.div-span {
    display: flex;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 8px;
}

#AddTaskMainCon {
    align-items: flex-start;
}

#addtaskCon {
    width: 518px;
    height: 100vh;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

#taskHeadline {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#contentCon {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
    gap: 8px;
}

#contentbig {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

#taskName input{
    height: 50px;
    width: 100%;
    font-size: 30px;
    padding: 13px 16px;
}

#Description {
    width: 100%;
}

#Description textarea {
    height: 80px;
    width: 100%;
    outline: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 10px 10px 10px;
    padding-top: 18px;
    padding-left: 16px;
    font-size: 19px;
    line-height: 120%;
}

#Due-date {
    width: 100%;
}

#Due-date input {
    height: 50px;
    width: 100%;
    padding: 0 10px;
}

#priority {
    height: 50px;
    width: 100%;
}

#priority-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#assigned {
    width: 100%;
}

#assigned-select {
    width: 100%;
}

#category {

    width: 100%;
}

#category-select {
    width: 100%;
}

#subtask {
    width: 100%;
}

#subtask-input  {
    display: flex;
    align-items: center;
    width: 100%;
}

#subtask-input input {
    width: 93.3%!important;
    border: none
}

#subtask-input img {
    height: 20px;
    width: 20px;
    background-color: white;
}

#die-subtask {
    background-color: white;
}

::-webkit-calendar-picker-indicator {
    background-image: url('../assets/img/kalendar.png');
  }
.input-blue {
    color: #4589FF;
    font-size: 16px;
}