#board-head-con {
    height: 127px;
    width: 100%;
    padding-top: 72px;
}


#board-content-con {
    display: flex;
    padding: 0 5%;
    gap: 2%;
    width: 100%;
    height: 100%;
}

.board-segments {
    width: 24%;
    background-color: aquamarine;
    height: 100%;
}