:root {
  /*colors*/
  --primary: #4589ff;
  --secondary: #d2e3ff;
  --black: #000;
  --white: #fff;
  --grey: #d1d1d1;
  --userStory: rgba(255, 122, 0, 1);
  --technicalTask: rgba(0, 56, 255, 1);
  /*priority-colors*/
  --urgent: #ff3d00;
  --medium: #ffa800;
  --low: #7ae229;
  /* Profile Bagdes */
  --default: #6e52ff;
  --variant02: #ffa35e;
  --variant03: #ffe62b;
  --variant04: #00bee8;
  --variant05: #ff5eb3;
  --variant06: #ffbb2b;
  --variant07: #ff745e;
  --variant08: #c3ff2b;
  --variant09: #ff7a00;
  --variant10: #1fd7c1;
  --variant11: #0038ff;
  --variant12: #ffc701;
  --variant13: #9327ff;
  --variant14: #fc71ff;
  --variant15: #ff4646;
  --variant16: #462f8a;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-site {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 90vh;
  background-color: rgba(0, 0, 255, 0.3);
}
main {
  display: flex;
  width: 85vw;
  height: 90vh;
  background-color: rgba(255, 0, 0, 0.3);
  /* position: relative; */
}

footer {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  width: 15vw;
  height: 90vh;
}

@media (max-width: 400px) {
  .main-site {
    flex-direction: column;
    width: 100vw;
    height: 90vh;
  }
  main {
    width: 100vw;
    height: 90vh;
  }
  footer {
    width: 100vw;
    height: 10vh;
  }
}

button {
  height: 48px;
  border-radius: 8px;
  padding: 16px 10px 16px 10px;
  background-color: rgba(69, 137, 255, 1);
  color: white;
  gap: 10px;
  border: 0;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
  background-color: rgba(0, 93, 255, 1);
  color: white;
  gap: 10px;
  border: 0;
  font-size: 23px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
}

/*when der Button angeklickt wird*/

button:active {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(69, 137, 255, 1);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  animation-delay: 1ms;
}

.secondaryButton {
  width: 136px;
  height: 61px;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  border: 1px solid #647188;
  background-color: white;
  font-size: 23px;
  line-height: 27.6px;
  font-weight: 400;
  color: #647188;
  margin-right: 25px;
  cursor: pointer;
}

.secondaryButton:hover {
  border: 3px solid #4589ff;
  color: #4589ff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  background-color: white;
}

a {
  background-color: transparent;
  font-size: 16px;
  color: rgba(42, 54, 71, 1);
  text-align: center;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 24px;
  text-decoration: none;
}

a:hover {
  /* padding: 8px; */
  /* gap: 8px; */
  /* font-size: 16px;
    font-weight: 700; */
  /* height: 33px; */
  text-decoration: none;
  color: rgba(0, 93, 255, 1);
}

/****Scroll******/

.scroll {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #4589ff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d2e3ff;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/**************  Ckeckbox    *************/

[type="checkbox"] + label {
  position: absolute;
  cursor: pointer;
}

[type="checkbox"] {
  position: relative;
  left: 15px;
  top: -4px;
  z-index: 0;
  opacity: 0;
  /* -webkit-appearance: none; */
  margin-bottom: 22px;
}

[type="checkbox"] + label::before {
  width: 22px;
  height: 18px;
  background-image: url(../assets/img/checket.png);
  display: block;
  content: "";
  float: left;
  margin-right: 16px;
  z-index: 5;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}

[type="checkbox"]:checked + label::before {
  background-image: url(../assets/img/box.png);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}
