:root {
  --mediumSize: 768px;
  /*colors*/
  --primary: #4589ff;
  --secondary: #d2e3ff;
  --active: #e3eeff;
  --black: #000;
  --white: #fff;
  --grey: #d1d1d1;
  --menuColor: #42526e;
  --userStory: rgba(255, 122, 0, 1);
  --technicalTask: rgba(0, 56, 255, 1);
  /*priority-colors*/
  --urgent: #ff3d00;
  --medium: #ffa800;
  --low: #7ae229;
  /* Profile Bagdes */
  --default: #6e52ff;
  --variant02: #ffa35e;
  --variant03: #ffe62b;
  --variant04: #00bee8;
  --variant05: #ff5eb3;
  --variant06: #ffbb2b;
  --variant07: #ff745e;
  --variant08: #c3ff2b;
  --variant09: #ff7a00;
  --variant10: #1fd7c1;
  --variant11: #0038ff;
  --variant12: #ffc701;
  --variant13: #9327ff;
  --variant14: #fc71ff;
  --variant15: #ff4646;
  --variant16: #462f8a;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: var(--primary);
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.main-site {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
  height: 90vh;
}
main {
  display: flex;
  /* width: 85vw; */
  flex: 1;
  height: 90vh;
  /* background-color: rgba(255, 0, 0, 0.3); */
}

.button {
  height: 48px;
  /* width: fit-content; */
  border-radius: 8px;
  padding: 10px 16px;
  background-color: rgba(69, 137, 255, 1);
  color: white;
  gap: 8px;
  border: 0;
  /* Version 2/t5 */
  font-family: "Open Sans";
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.725rem */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 16px;
  background-color: var(--primary);
  color: white;
  gap: 10px;
  border: none;
  font-size: 1.4375rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
}

/*when der Button angeklickt wird*/

.button:active {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(69, 137, 255, 1);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  animation-delay: 1ms;
}

.secondaryButton {
  width: 136px;
  height: 61px;
  border-radius: 10px;
  padding: 16px 10px 16px 10px;
  border: 1px solid #647188;
  background-color: white;
  font-size: 23px;
  line-height: 27.6px;
  font-weight: 400;
  color: #647188;
  cursor: pointer;
}

.secondaryButton:hover {
  border: 3px solid #4589ff;
  color: #4589ff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  background-color: white;
}

.Back-btn {
  border: none;
  background-color: transparent;
  display: flex;
  padding: 2.5px;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.Back-btn:hover {
  background-color: var(--secondary);
  border-radius: 50%;
}

a {
  background-color: transparent;
  font-size: 16px;
  color: rgba(42, 54, 71, 1);
  text-align: center;
  /* display: flex; */
  align-items: center;
  gap: 6px;
  height: 24px;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: var(--primary);
}

/****Scroll******/

.scroll {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4589ff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d2e3ff;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/**************  Ckeckbox    *************/

[type="checkbox"] {
  position: relative;
  left: -200px;
  opacity: 0;
  /* -webkit-appearance: none; */
}

input[type="checkbox"] {
  position: absolute;
  vertical-align: middle;
  width: fit-content;
}

[type="checkbox"] + label::before {
  width: 24px;
  height: 24px;
  background-image: url(../assets/img/checket.svg);
  content: "";
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}

[type="checkbox"]:checked + label::before {
  background-image: url(../assets/img/box.svg);
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

/* requiered field */

.requiered {
  display: flex;
  margin-top: .25rem;
  color: #FF8190;
  font-size: 13px;
  line-height: 120%;
  height: 16px;
}

.input-field{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.inputimgdiv {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--grey);
}

.profile-badge {
  background-color: var(--default);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  border: 2px solid rgba(255, 255, 255, 1);
  gap: 10px;
}

@media (max-width: 1023px) {
  .main-site {
    flex-direction: column;
    width: 100vw;
    height: 90vh;
  }
  main {
    width: 100vw;
    height: 90vh;
  }

  .button {
    /* display: flex; */
    width: 180px;
    height: 48px;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--primary, #4589ff);
    /* Version 2/t6 */
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 1.425rem */
  }

  .secondaryButton {
    display: flex;
    width: 180px;
    height: 48px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--menu-color, #42526e);
    background: var(--white, #fff);
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  [type="checkbox"] {
    position: relative;
    left: -200px;
    opacity: 0;
    /* -webkit-appearance: none; */
  }

  input[type="checkbox"] {
    position: absolute;
    vertical-align: middle;
    width: fit-content;
  }

  [type="checkbox"] + label::before {
    width: 24px;
    height: 24px;
    background-image: url(../assets/img/checket.svg);
    content: "";
    float: left;
    background-position: center;
    background-repeat: no-repeat;
  }

  [type="checkbox"]:checked + label::before {
    background-image: url(../assets/img/box.svg);
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
