header {
  padding: 2vh 2vw;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.header-row {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 1vw;
}
.span-size {
  font-size: 1.3vh;
}
.help-icon {
  width: 2.5vh;
  height: fit-content;
}

#header-nameTag {
  display: flex;
  background-color: var(--white);
  color: var(--primary);
  width: 2.375rem;
  height: 2.375rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: var(--primary);
  border-style: double;
  border-width: 6px;
}


@media (max-width: 1023px) {
  .header-row span,
  .help-icon {
    display: none;
  }
}
