/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.cardOpen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    padding: 20px 40px 95px 40px;
    width: 400px;
    min-width: 300px;
    /* height: 88vh; */
    font-size: 19px;
    font-weight: 400;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    gap: 2px;
}
.input_fieldsEdit{
    font-size: 17px;
}

.taskOpen {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskOpen span {
    background-color: #0038ff;
    padding: 4px 24px 4px 24px;
    border-radius: 8px;
}

.taskOpen button {
    border: none;
    width: 16px;
    height: 8px;
    padding: 4px;
    gap: 10px;
    background-color: transparent;
    color: #4589FF;
    font-size: 23px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: none;
}

.taskOpen button:hover {
    background-color: #D2E3FF;
}


.titelOpen h1 {
    font-size: 36px;
    margin: 0;
}

.descriptionOpen span {
    font-weight: 400;
    margin-top: 8px;
}

.datumOpen {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* .datumOpen h3 {
    font-weight: 700;
    color: #42526E;
    font-size: 16px;
    margin: 0;
} */
h3 {
    font-weight: 700;
    color: #42526E;
    font-size: 21px;
    margin: 0;
}

/* .datumOpen span {
    font-size: 19px;
    font-weight: 400;
} */

.priorityOpen {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* .priorityOpen h3 {
    font-weight: 700;
    color: #42526E;
    font-size: 16px;
    margin: 0;
} */

/* .priorityOpen span {
    font-size: 16px;
    font-weight: 400;
} */

.assignetNames  {
   display: flex;
   /* flex-direction: row; */
   gap: 8px;
   align-items: center;
   /* border-radius: 10px; */
} 
.assignetNames .profile-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    width: 42px;
    height: 42px;
    gap: 10px;
    border-radius: 45px;
    border: 2px solid white;

}
 .assignetToOpen {
    display: flex;
    flex-direction: column;
   gap: 8px;
} 
.taskTitleEdit{
    font-size: 22px;
}

 .suptasksOpen {
    display: flex;
    flex-direction: column;
   gap: 8px;
 } 

.BTNMIddle {
    background-color: #D1D1D1;
    width: 1px;
    height: 24px;
    margin-right: 2px;
    margin-left: 2px;
}

/* .suptasksOpen h3 {
    font-weight: 700;
    color: #42526E;
    font-size: 16px;
} */

.deletAndEditOpen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deletAndEditOpen button {
    border: none;
    color: #0038ff;
    background-color: transparent;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 6px;
    cursor: pointer;
    box-shadow: none;
    font-size: 16px;
}

.deletAndEditOpen button:hover {
    color: #0038ff;
    font-weight: 700;
}


/* *************  Checkbox   ************ */


/* [type="checkbox"]+label {
    position: absolute;
    cursor: pointer;

} */

[type="checkbox"] {
    position: relative;
    left: 15px;
    top: -4px;
    z-index: 0;
    /* -webkit-appearance: none; */
    margin-bottom: 22px;
}

[type="checkbox"]+label::before {
    width: 22px;
    height: 18px;
    background-image: url(../assets/img/checket.png);
    display: block;
    content: "";
    float: left;
    margin-right: 16px;
    z-index: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

[type="checkbox"]:checked+label::before {
    background-image: url(../assets/img/box.png);
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
} 

/************checkbox in add-task-main-section ***************/

assignetToScroll [type="checkbox"] {
    position: relative;
    /* opacity: 1; */
    /* -webkit-appearance: none; */
    margin-bottom: 0px;
}

#assignetTo [type="checkbox"]+label {
    position: relative;
}

#assignetTo [type="checkbox"]+label::before {
    width: 22px;
    height: 18px;
    background-image: url(../assets/img/checket.png);
    display: block;
    content: "";
    float: left;
    /* margin-right: 16px; */
    /* z-index: 5; */
    /* position: relative; */
    background-position: center;
    background-repeat: no-repeat;
}

#assignetTo [type="checkbox"]:checked+label::before {
    background-image: url(../assets/img/box.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
} 

.assignetToAddTask {
    /* background-color: var(--primary); */
    border-radius: 10px;
    display: flex;
    
    width: 85%;
    align-items: center;
    margin: 7px 16px 7px 16px;
    justify-content: space-between;
}

.assignetToAddTask:hover {
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 10px;
    display: flex;
    width: 85%;
    align-items: center;
    margin: 7px 16px 7px 16px;
    justify-content: space-between;
}


.addTasksContactFrame{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}
@media (max-width: 770px) {
    .cardOpen {
        width: 90%;
        height: 78%;
        position: fixed;
    }
    .taskOpen{
        padding-right: 34px;
    }
  }
@media (max-width:460px){
    .cardOpen{
        padding: 20px 40px 95px 7px;
    }
}
@media (max-width:375px){
    .taskTitleEdit {
        font-size: 16px;
    }
    .cardOpen {
        font-size: 14px;
    }

}
