.main-site{
    height: 100%;
    /* width: 100%; */
}

.row{
    flex-wrap: nowrap;
}

#LoginItem{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
text-align: center;
text-decoration: underline;
text-decoration-color: var(--primary);
text-underline-offset: 16px;
padding-bottom: 24px;
}