body {
  margin: 0;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

button {
  height: 48px;
  border-radius: 8px;
  padding: 10px, 18px, 10px, 18px;
  background-color: rgba(69, 137, 255, 1);
  color: white;
  gap: 10px;
  border: 0;
  font-size: 23px;
}
button:hover {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
  background-color: rgba(0, 93, 255, 1);
  color: white;
  gap: 10px;
  border: 0;
  font-size: 23px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
}
/*when der Button angeklickt wird*/
button:active {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(69, 137, 255, 1);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  animation-delay: 1ms;
}

#guest-login {
  width: 197px;
  border: 1px solid rgba(100, 113, 136, 1);
  padding: 10px, 35px, 10px, 35px;
  gap: 10px;
  background-color: white;
  color: rgba(100, 113, 136, 1);
}
#guest-login:hover {
  border: 2px solid rgba(69, 137, 255, 1);
  padding: 10px, 18px, 10px, 18px;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(69, 137, 255, 1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

#guest-login:active {
  border: 1px solid rgba(0, 93, 255, 1);
  padding: 10px, 18px, 10px, 18px;
  gap: 10px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 93, 255, 1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

#login {
  width: 135px;
}

.checkbox{
  display: flex;
  justify-content: flex-start;
}

#RememberMe{
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 0;
  margin-bottom: 0px;
}
#RememberMe+label {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
[type="checkbox"]+label::before {
  /* width: 22px; */
  /* height: 18px; */
  background-image: url(../assets/img/checket.png);
  display: flex;
  content: "";
  float: left;
  margin-right: 4px;
  z-index: 0;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
}


/*TODO*/
/*todo checkbox Design funktioniert noch nicht ganz*/
label::before{
  margin:0px;
}


input::placeholder {
  color: rgba(209, 209, 209, 1);
}
input{
  border-width: 0;
  font-size: 19px;
  font-weight: 400;
}
input:focus-visible{
  /* border: 0; */
  outline: 0px;
}

a {
padding: 8px;
gap: 8px;
font-size: 16px;
font-weight: 400;
/* height: 33px; */
text-decoration: none;
color:rgba(66, 82, 110, 1);
}
a:hover {
  padding: 8px;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  /* height: 33px; */
  text-decoration: none;
  color:rgba(0, 93, 255, 1);
  }

/*TODO*/
/*todo div bewegt sich beim hovern, soll es aber nicht*/


#forgotPassword{
 
  font-size: 16px;
  height: 19px;
  color: rgba(0, 93, 255, 1);
  gap: 10px;
  font-weight: 400;
  text-decoration: none;
}
#forgotPassword:hover {
  font-size: 16px;
  height: 19px;
  color: rgba(0, 93, 255, 1);
  gap: 10px;
  /* font-weight: 400; */
  text-decoration: none;
  background-color: rgb(0 93 255);
  border-radius: 17px;
  color: white;

}
.join-logo {
  position: absolute;
  top: 80px;
  left: 77px;
  width: 50px;
  /* width: 50px; */
  /* height: 121.97px / 1024px; */
}
.header-bottom{
  display: none;
}
.header {
  position: absolute;
  font-size: 23px;
  display: flex;
  padding: 0;
  top: 67px;
  right: 77px;
  gap: 35px;
  width: 315px;
  height: 48px;
  justify-content: space-between;
  /* justify-content: flex-end; */
  align-items: center;
}

.header span{
  height: 28px;
}

.header button {
  width: 110px;
  height: 48px;
}

.login-header {
  position: relative;
  border-bottom: 3px solid rgba(69, 137, 255, 1);
  /* height: 150px; */
}

.center {
  display: flex;
  /* margin: 56px; */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-box {
  border-radius: 30px;
  /* padding: 48px, 115px, 48px, 115px; */
  gap: 39px;
  background-color: rgba(255, 255, 255, 1);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.064);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  max-width: 750px;
  height: 520px;
}

form {
    gap: 39px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    max-width: 652px;
    height: 510px;
}


.login-box h1 {
  /* width:315px; */
  /* height: 58px; */
  font-size: 48px;
  display: flex;
  text-align: center;
  margin-bottom: 16px;
  /* gap: 16px; */
}

.form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 422px;
  /* height: 50%; */
  /* height: 152px; */
  gap: 32px;
  /* padding: 12px, 21px, 12px, 21px; */
}


.form-inner-field {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 380px;
  /* height: 24px; */
  /* margin: 12px, 21px, 12px, 21px; */

  /* gap: 10px; */
  align-items: center;

  color: rgba(209, 209, 209, 1);
}
.form-outline {
  display: flex;
  /* position: relative; */
  align-items: center;
  justify-content: center;
  padding: 12px, 21px, 12px, 21px;
  width: 100%;
  height: 48px;
  gap: 10px;
  border: 0;
  /* border-radius: 8px; */
  /* border: 0px solid rgba(209, 209, 209, 1); */
  border-bottom: 1px solid #D1D1D1;
 
  background-color: rgba(255, 255, 255, 1);
}
.form-outline img {
  width: 24px;
  height: 24px;
}

 .container-checkbox {
  /* width: 100%; */
  max-width: 355px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25px;
  gap: 28px;
}
.container-checkbox-buttons{
    /* width: 100%; */
    max-width: 355px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25px;
    gap: 35px;
}

.container {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  align-items: last baseline;
  position: absolute;
  height: 35px;
  justify-content: space-between;
  width: 240px;
  bottom: 70px;
}
#passwordImageDiv{
  cursor: pointer;
}

.color {
  animation: hide-show 1s ease-in-out 1s forwards;
}
.logo {
  width: 25vw;
  top: 33%;
  left: 33%;

  position: absolute;
  animation: logo 1s ease-in-out 1s forwards;
}

  
  /* .intro {
    background-color: #4589ff;
    width: 100vw; 
    height: 100vh; 
    display: flex;
    position: relative;
    z-index: 3;
    animation: backgroundcolor 1s ease-in-out 1s none;
  } */

.content{

  display: none;
  z-index: 2;

}
.intro {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  animation: backgroundcolor 1s ease-in-out 1s none;
  
  } 
  
  

  
  .color {
    animation: hide-show 1s ease-in-out 1s forwards;
  }
  .logo {
    width: 25vw;
    top: 33%;
    left: 33%;
  
    position: absolute;
    animation: logo 1s ease-in-out 1s forwards;
  }

  
  @keyframes logo {
    0% {
      width: 25vw;
      top: 20%;
      left: 33%;
      /* opacity: 100%; */
    }
    100% {
      width: 56px;
      top: -100px;
      left: 4%;
      /* opacity: 100%; */
    }
  }
  @keyframes backgroundcolor {
    0% {
      background-color: #4589ff;
      width: 100vw;
      height: 100vh;
    }
    /* 99%{
      width: 100vw;
      height: 100vh;
    } */
    100% {
      background-color: white;
      width: 100vw;
      height: 100vh;
    }
  }
  
  @keyframes hide-show {
    50% {
      fill: white;
    }
    99% {
      opacity: 1;
    }
    100% {
      fill: #4589ff;
      /* opacity: 0; */
    }
  }
  @keyframes contentDisplayFlex {
    100% {
      display: flex;
      z-index: 4;
    }
  }
  
  /* Keyframes nur für das .intro-Element, um z-index auf 0 zu ändern */
  @keyframes zIndexZero {
    100% {
      z-index: 0;
    }
  }

@media screen and (max-width: 940px) {
  .login-box {

    width: 70%;

}
}
@media screen and (max-width: 605px) {
  .login-box {

    width: 90%;

}
.container-checkbox-buttons {
  max-width: 355px;
  display: flex;
  align-items: center;
  gap: 18px;
  flex-direction: column;
  margin-bottom: 34px;
  margin-top: 70px;
}
.container-checkbox {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 20px;
  gap: 6px;
  align-items: flex-start
}
.login-box {
  gap: 6px;
  height: 610px;
  margin-top: 54px;
}
.header{
  display: none;
}
.header-bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 22px;
}
.center {
  flex-direction: column;
}
#login {
  width: 196px;
}
#RememberMe+label {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
.join-logo {
  position: absolute;
  top: 24px;
  left: 50px;
  width: 70px;
  /* width: 50px; */
}
footer {
  display: flex;
  position: absolute;
  height: 35px;
  justify-content: space-between;
  width: 240px;
  bottom: 26px;
}
.form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  /* position: relative; */
  width: 100%;
  max-width: 422px;
  /* height: 50%; */
  /* height: 152px; */
  gap: 32px;
  width: 300px;
}
}

@media (max-width: 380px) {
  .login-box h1 {
    font-size: 34px;
}
form {
  gap: 30px;
  height: 447px;
}
.login-box {
  gap: 0px;
  height: 420px;
  margin-top: 46px;

}
.center button {
  height: 40px;
  gap: 10px;
  font-size: 18px;
  width: 110px;
}
.form-outline {
  height: 34px;
}
}
