
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}


.col,
.col-1,
.col-2 {
  border: 1px solid var(--grey);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}


.col:hover,
.col-1:hover {
  background-color: var(--secondary);
}


.col,
.col-1 {
  width: 25%;
}

.col .row{
  /* position: relative; */
  /* padding: 12%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  /* width: 100%; */
  flex-direction: row;
  margin-left: 0;
}

.col img{
  width: 4rem;
  padding: 0;
  margin: 0;
}

.col .row h1 {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 750;
  font-size: 40px;
  margin: 0;
}

h6 {
  margin-top: 12px;
  /* width: ; */
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: var(--primary);
}

.container {
  position: relative;
  width: 800px;
  height: 500px;
  padding: 0;
  margin: 0;
}

#greetings {
  width: 800px;
  height: 36px;
  font-size: 24px;
  /* margin: 1.5vw; */
}

@media (max-width: 1023px) {
  .container {
    width: 90vw;
    height: 60vh;
  }
  .col {
    width: 50%;
    height: 15vh;
  }
  .col-1,
  .col-2 {
    width: 100%;
    height: 15vh;
  }

  #greetings {
    display: none;
  }
}
