      <header>
        <img class="img-fluid" src="../assets/img/logo-white.png" alt="logo" />
        <div class="header-row">
          <span>Kanban Project Management Tool</span>
          <img class="help-icon" src="../assets/img/help.png" alt="help-icon" />
          <div class="header-nameTag-border">
              <div id="header-nameTag">SM</div>
          </div>
        </div>
      </header>
      
       <!-- <div class="btn-group dropstart">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Dropstart
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
        </ul>
      </div> -->
