
    <div class="menuListMobile">
        <div>
            <a id="summary" onclick="checkIndex('summary')"><img src="../assets/img/summary.png" /><span>Summary</span></a>
        </div>
        <div>
            <a id="add_task" onclick="checkIndex('add_task')"><img src="../assets/img/add_task.png" /><span>Add Task</span></a>
            <!-- href="..\html\add_task.html -->
        </div>
        <div>
            <a id="board" onclick="checkIndex('board')"><img src="../assets/img/board_navbar.png" /><span>Board</span></a>
        </div>
        <div>
            <a id="contacts" onclick="checkIndex('contacts')"><img src="../assets/img/contact_navbar.png" /><span>Contacts</span></a>
        </div>
    </div>

</div>